$tablet-width: 767px;
$phone-width: 554px; // 375px? 554
$desktop-width: 1024px;

$brand-red: #F16D7F;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 19px;
}

.header_links {
  display: flex;
  justify-content: space-between;
}

.header_link-group {
  display: flex;
  align-items: baseline;
}

.group-logo {
  gap: 41px;
}

.group-menu {
  gap: 33px;
}

.main {
  background-color: #F1E4E6;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}

.main-page_header {
  text-transform: uppercase;
  border-left: 12px solid $brand-red;
  padding-left: 16px;
  margin-right: 88px;
}

.header_first-line {
  font-weight: 900;
  font-size: 48px;
}

.header_second-line {
  font-weight: 700;
  font-size: 32px;
}

.text-red {
  color: $brand-red;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  padding-bottom: 96px;
}

.category_link {
  position: relative;
}

.img-long {
  grid-row: 2;
  grid-column: span 3;
}

.category_header {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
}

.text-light {
  font-weight: 400;
  font-size: 16px;
}

.featured {
  padding-bottom: 60px;
}

.featured_header,
.featured_text {
  text-align: center;
}

.featured_header {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 6px;
}

.featured_text {
  font-size: 14px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.featured_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 49px;
}

.featured_block {
  background-color: #F8F8F8;
}

.featured_heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.item-info {
  padding: 25px 29px 19px 16px;
}

.featured_block_text {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.featured_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.link-container {
  text-align: center;
}

.featured_browse {
  border: 1px solid #FF6A6A;
  padding: 14.5px 38.5px 13.5px;
}

.featured_browse:hover {
  background-color: #FF6A6A;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }
}