$tablet-width: 768px;
$phone-width: 375px;
$desktop-width: 1024px;

$brand-red: #F16D7F;
$header-height: 75px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: auto 230px;
}

header {
  height: $header-height;
  background-color: #222222;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.magnifier {
  margin-left: 40px;
}

.burger-menu,
.contact {
  margin-right: 33px;
}

.main-page {
  background: url(./Img/main-man.png);
  background-repeat: no-repeat;
  background-color: #F1E4E6;
  background-position-y: bottom;
  background-size: 764px;
  height: calc(100vh - $header-height);
}

.main-page_header {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  border-left: 12px solid $brand-red;
  padding-left: 16px;
}

.header_first-line {
  font-weight: 900;
  font-size: 48px;
}

.header_second-line {
  font-weight: 700;
  font-size: 32px;
}

.text-red {
  color: $brand-red;
}

@media (max-width: $tablet-width) {
  .container {
    margin: 0 16px;
  }

  .header {
    padding: 0 16px;
  }

  .main-page {
    background-size: 368px;
  }

  .header_first-line {
    font-size: 44px;
  }

  .header_second-line {
    font-size: 26px;
  }

}