.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;

  &__heading {
    text-transform: uppercase;
    color: $brandColor;
    font-weight: 400;
    line-height: 29px;
  }

  &__breadcrumb {
    display: flex;
    list-style-type: none;

    .crumb_link:hover {
      text-decoration: underline;
    }

    .crumb_link {
      color: #636363;
      font-weight: 300;
    }

    .breadcrumb_crumb:last-child .crumb_link {
      color: $brandColor;
      font-weight: 700;
    }
  }

  &__breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
    font-weight: 300;
  }
}


.slider {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 52px;

  &__button {
    border: 0;
  }

  &__button:hover path:last-child {
    fill: #F16D7F;
  }
}

.chooser {
  text-align: center;
  padding: 65px 250px;
  background-color: white;
  margin-top: -52px;
  margin-bottom: 128px;
  border: 2px solid #F7F7F7;

  &__head {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
  }

  .head__hr {
    border: 3px solid #F16D7F;
    box-sizing: border-box;
    max-width: 4rem;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &__heading {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 48px;
  }

  &__text {
    color: #5E5E5E;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-left: 43px;
    margin-right: 43px;
  }

  &__price {
    color: #EF5B70;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 65px;
  }

  &__hr {
    border: 2px solid #F7F7F7;
    box-sizing: border-box;
    margin-bottom: 65px;
  }

  &__properties {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-bottom: 49px;
  }

  .property {
    border: 0;
    color: #6F6E6E;
    font-size: 14px;
  }

  .cart__button {
    color: #F26376;
    border: 1px solid #F26376;
    padding: 14px 56px 8px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    &__text {
      margin-left: 23px;
    }
  }
}

.featured__content_small {
  grid-template-rows: 1fr;
  margin-bottom: 128px;
}

.none-pt {
  padding-top: 0;
}

@media (hover: hover) {
  .cart__button:hover {
    background-color: $brandColor;
    color: white;
  }

  .cart__button:hover path {
    fill: white;
  }

  %slow {
    transition: all .2s;
  }

  .cart__button {
    @extend %slow;

    & path {
      @extend %slow;
    }
  }
}