$mobileWidthM: 375px;
$mobileWidthL: 425px;
$tabletWidth: 700px;
$tabletBackground: 767px; // tablet default
$desktopWidthM: 1159px; // tablet big
$desktopWidthL: 1600px; // desktop

$containerWidth: 1140px;
$containerPadding: calc(50% - $containerWidth / 2);

$brandColor: #F16D7F;
$additionalColor: #222222;