$mobileWidthM: 374px;
$mobileWidthL: 424px;
$tabletWidth: 767px;
$desktopWidthM: 1159px;
$desktopWidthL: 1600px;

$containerWidth: 1140px;
$containerPadding: calc(50% - $containerWidth / 2);

$brandColor: #F16D7F;
$additionalColor: #222222;