$tabletWidth: 700px;
$tabletBackground: 768px;
$phoneWidth: 554px; // 375px? 554
$desktopWidth: 1159px;
$extraWidth: 1600px;

$containerWidth: 1140px;
$containerPadding: calc(50% - $containerWidth / 2);

$brandColor: #F16D7F;
$additionalColor: #222222;