@media (max-width: $desktopWidthM) {

  .cart-content {
    flex-direction: column;
    padding-top: 59px;
    align-items: center;
    align-items: stretch;
  }

  .order {
    margin-bottom: 64px;

    &__block {
      justify-content: space-between;
      width: 100%;
    }

    &__items {
      margin-bottom: 62px;
    }

    &__buttons {
      justify-content: center;
      gap: 48px;
    }
  }

  .order-data {

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__address {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tabletWidth) {
  .top_none-breadcrumbs {
    padding-top: 50px;
    padding-bottom: 69px;
  }

  .cart-content {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 96px;
  }

  .order {

    &__items {
      gap: 32px;
      margin-bottom: 30px;
    }

    &__item {
      box-shadow: 8px 8px 21px 0px #00000021;
    }

    &__heading {
      font-size: 16px;
      margin-bottom: 25px;
    }

    &__properties {
      gap: 4px;
    }

    &__property {
      font-size: 14px;
    }

    &__photo {
      width: 143px;
      height: 188px;
    }

    &__input {
      font-size: 10px;
    }

    &__block {
      padding: 12px 12px 33px 17px;
      gap: 0;
    }

    &__buttons {
      gap: 9px;
    }

    &__button {
      font-size: 12px;
      padding: 9px 17px;
    }
  }

  .order-data {
    margin: 0 auto;

    &__content {
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
  }
}