@media (max-width: $desktopWidthM) {

  .cart-content {
    flex-direction: column;
    padding-top: 59px;
    align-items: center;
    align-items: stretch;
  }

  .order {
    margin-bottom: 64px;

    &__block {
      justify-content: space-between;
      width: 100%;
    }

    &__items {
      margin-bottom: 62px;
    }

    &__buttons {
      justify-content: center;
      gap: 48px;
    }
  }

  .order-data {

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__address {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tabletWidth) {}