* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::webkit-details-marker {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding-left: $containerPadding;
  padding-right: $containerPadding;
}

.header {
  background-color: $additionalColor;

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__link-group {
    display: flex;
    align-items: center;
  }

  &__link {
    padding-top: 18px;
    padding-bottom: 19px;
  }

  &__group-logo {
    gap: 41px;
    align-items: baseline;
  }

  &__group-menu {
    gap: 33px;
  }

  &__link__button {
    position: relative;
  }
}

.menu {
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
  z-index: 2;
  position: absolute;
  left: -91px;
  top: 71px;
  background-color: white;
  padding: 2rem 0 2rem 2rem;
  width: max-content;
  box-shadow: -2px 4px 10px #dbd9d9
}

.header__link__button:hover .menu {
  display: block;
}

%uppercase {
  font-size: 14px;
  text-transform: uppercase;
}

.menu__heading {
  @extend %uppercase;
  margin-bottom: 24px;
  font-weight: 700;
}

.person-category {
  margin-bottom: 12px;
}

.person-category__link {
  @extend %uppercase;
  color: #F16D7F;
}

.person-items {
  list-style-type: none;
  margin-bottom: 20px;
}

.item-type {
  font-size: 14px;
}

.item-type__link {
  display: block;
  padding: 12px 100px 0 20px;
  color: #6F6E6E;
}

.person-items:last-child {
  margin-bottom: 0;
}

.main-page {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}

.main-page__header {
  text-transform: uppercase;
  border-left: 12px solid $brandColor;
  padding-left: 16px;
  margin-right: 88px;
}

.header__first-line {
  font-weight: 900;
  font-size: 48px;
}

.header__second-line {
  font-weight: 700;
  font-size: 32px;
}

.text-red {
  color: $brandColor;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  margin-bottom: 96px;
}

.category__link {
  position: relative;
}

.img-long {
  grid-row: 2;
  grid-column: span 3;
}

.category__header {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
}

.text-light {
  font-weight: 400;
  font-size: 16px;
}

.featured {
  padding-bottom: 95px;

  %textcenter {
    text-align: center;
  }

  &__header {
    @extend %textcenter;
  }

  &__text {
    @extend %textcenter
  }

  &__header {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__text {
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 49px;
  }

  &__block {
    background-color: #F8F8F8;
  }

  &__heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}

.image-box {
  position: relative;
}

.add-cart {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.add-to-cart__text {
  color: white;
  padding: 13px;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
}

.add-to-cart__text::before {
  content: url(../img/addCart.svg);
  margin-right: 11px;
}

.item-info {
  padding: 25px 29px 19px 16px;
}

.featured__block__text {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.featured__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.featured__browse {
  border: 1px solid #FF6A6A;
  padding: 14.5px 38.5px 13.5px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.footer {
  padding-top: 104px;
  padding-bottom: 23px;
  background-color: $additionalColor;
}

.offers {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  padding-bottom: 104px;
}

.offer__heading,
.offer__text {
  color: #FBFBFB;
}

.offer__img {
  margin-bottom: 28px;
}

.offer__heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.offer__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.subscribe__background {
  background: url(../img/subscribe_background.jpg);
  background-size: cover;
}

.subscribe {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 87px;
  padding-bottom: 126px;
  margin-bottom: 30px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__img {
  margin-bottom: 30px;
}

.quote__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
  color: $additionalColor;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
  color: $additionalColor;
  text-transform: uppercase;
}

.subscribe__heading::first-line {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.input-object {
  display: flex;
  align-items: center;
}

.input-email,
.subscribe__button {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
  padding-left: 22px;
}

.input-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  background-color: #E1E1E1;
  opacity: 0.67;
  border-radius: 50px 0 0 50px;
  padding-right: 64px;
}

.subscribe__button {
  background-color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0 50px 50px 0;
  padding-right: 20px;
}

.rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social-media {
  display: flex;
  gap: 0.5rem;
}