@media (min-width: $desktopWidthL) {
  .subscribe__background {
    background-position: bottom;
  }
}

@media (max-width: $desktopWidthM) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-page {
    justify-content: space-around;
  }

  .main-page__header {
    margin-right: 0;
  }

  .man {
    max-height: 368px;
  }

  .header__first-line {
    font-size: 44px;
  }

  .header__second-line {
    font-size: 24px;
  }

  .categories {
    gap: 20px;
    margin-bottom: 110px;
  }

  .category__img {
    width: 100%;
  }

  .featured__text {
    margin-bottom: 72px;
  }

  .featured__content {
    // grid-template-columns: repeat(2, 49%);
    grid-template-columns: repeat(2, 360px);
    margin-bottom: 32px;
    gap: 16px;
  }

  .featured__img {
    width: 100%;
  }

  .footer {
    padding-top: 48px;
  }

  .offers {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 64px;
  }

  .offer__text {
    max-width: 360px;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 64px;
  }

  .rights {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: $tabletWidth) {

  .header {
    padding-left: 1rem;

    &__first-line {
      font-size: 38px;
    }

    &__second-line {
      font-size: 20px;
    }

    &__group-menu {
      gap: 0;
      align-items: center;
    }
  }

  .contact,
  .cart,
  .man {
    display: none;
  }

  .main-page__header {
    border-left: 16px solid #f16D7f;
    margin-top: 149px;
    margin-bottom: 149px;
    line-height: 30px;
  }

  .menu {
    left: -201px;
    top: 71px;
  }

  .categories {
    grid-template-columns: 1fr;
  }

  .category {
    &__link {
      display: block;
      margin-bottom: 2rem;
    }

    &__img-long {
      width: 100%;
      content: url(../img/pic4phone.png);
    }

    &__header {
      z-index: 1;
    }
  }

  .img-long {
    grid-row: unset;
    grid-column: unset;
  }

  .text-big {
    font-size: 24px;
  }

  .featured {
    &__header {
      margin-bottom: 3px;
    }

    &__content {
      grid-template-columns: 360px;
      justify-content: center;
    }

    &__block {
      margin-bottom: 1rem;
    }
  }

  .subscribe__background {
    background-position: left;
    background-image: url(../../img/subscribe-background_tablet.png);
  }

  .subscribe {
    gap: 60px;
    padding-bottom: 110px;

    &__heading {
      margin-bottom: 22px;
      line-height: 21px;
      font-size: 14px;
    }

    &__button {
      width: 30%;
    }
  }

  .input-object {
    width: 100%;
  }

  .input-email {
    width: 68%;
    padding-right: unset;
  }

  .rights {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

@media (max-width: $mobileWidthL) {

  .subscribe {
    &__background {
      background-position: left;
      background-image: url(../../img/subscribe-background_mobile.png);
    }
  }

  .quote {
    &__text {
      font-size: 18px;
    }
  }
}