@media (max-width: $desktopWidthM) {

  .slider {

    &__img {
      content: url(../../img/women-collection_tablet.png);
    }
  }

  .chooser {
    border: 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    margin-top: 0;

    &__hr {
      margin-left: 64px;
      margin-right: 64px;
    }

    & .head__hr {
      margin-bottom: 12px;
    }
  }

  .featured {
    &__block_none-sm-display {
      display: none;
    }
  }
}

@media (max-width: 565px) {
  .slider {

    &__img {
      content: url(../../img/women-collection_mobile.png);
    }
  }
}

@media (max-width: $mobileWidthL) {
  .slider {}

  .chooser {

    &__heading {
      margin-bottom: 32px;
    }

    &__price {
      margin-bottom: 32px;
    }

    &__hr {
      margin-bottom: 50px;
    }

    &__properties {
      margin-bottom: 65px;
    }

    &__property {
      font-size: 10px;
    }
  }

  .featured {

    &__content {
      gap: 0;
    }
  }
}