@media(max-width: $desktopWidthM) {

  .filter-sort {
    gap: 0;
    justify-content: space-between;
  }

  .filter {

    &[open] {
      width: 360px;
      position: absolute;
    }
  }

  .featured {
    &__block_none-tablet-display {
      display: none;
    }
  }
}

@media (max-width:

  /*$phoneWidth*/
  $tabletBackground) {

  .top {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
  }

  .filter {
    width: auto;

    &__summary {
      padding-left: 0;
    }

    &__svg {
      width: 37.5px;
      height: 25px;
    }

    &__heading {
      display: none;
    }
  }

  .featured {
    padding-bottom: 64.5px;

    &__content {
      margin-bottom: 40.5px;
    }

    &__block {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobileWidthL) {

  .filter {

    &[open] {
      width: unset;
      position: absolute;
    }
  }

}